= content_for :full_screen do
  .flex.min-h-full.w-full.flex-col.justify-center.py-10.sm:py-3.sm:px-6.lg:px-8.bg-white
    .sm:mx-auto.sm:w-full.sm:max-w-md
      = image_tag('logos/favicon.png', alt: 'YouthRaise logo', class: 'mx-auto h-10 w-auto')
      %h2.mt-4.text-center.text-2xl.font-bold.tracking-tight.text-gray-900 Sign in to your account
      %p.mt-2.text-center.text-sm.text-gray-800
        New to Youthraise?
        = link_to "Sign up", new_organizer_signup_path, class: "text-indigo-900"
    .mt-5.sm:mx-auto.sm:w-full.sm:max-w-md.p-8.sm:p-1
      - if Rails.env.development?
        .mb-4= @login.confirmation_code
      = form_for @login, url: login_path(@login.uuid) do |f|
        %div
          = f.text_field :confirmation_code_attempt, required: true, label: {text: "Confirmation Code"}, autofocus: true
        %div.pt-8
          = f.submit "Verify Your Account", class: "w-full"
