%tr
  %td.whitespace-nowrap.py-4.pl-6.pr-3.text-sm.font-medium.text-gray-900
    = member.last_name
  %td.whitespace-nowrap.py-4.pl-6.pr-3.text-sm.font-medium.text-gray-900
    = member.first_name
  %td.whitespace-nowrap.py-4.pl-6.pr-3.text-sm.font-medium.text-gray-900
    = member.email
  %td.whitespace-nowrap.py-4.pl-6.pr-3.text-sm.font-medium.text-gray-900
    = member.mobile
  %td.whitespace-nowrap.py-4.pl-6.pr-3.text-sm.font-medium.text-gray-900
    = member.role
