%td.whitespace-nowrap.py-4.pr-2.text-sm.font-medium.text-gray-500
  = campaign.organization.name
%td.whitespace-nowrap.py-4.px-2.text-sm.text-gray-500
  = number_to_currency(campaign.goal)
%td.whitespace-nowrap.py-4.px-2.text-sm.text-gray-500
  = campaign.actuals
%td.whitespace-nowrap.py-4.px-2.text-sm.text-gray-500
  = campaign.name
%td.whitespace-nowrap.py-4.px-2.text-sm.text-gray-500
  = campaign.purpose
%td.relative.whitespace-nowrap.py-4.pl-3.pr-4.text-right.text-sm.font-medium.sm:pr-0
  .text-indigo-600.hover:text-indigo-900
    = link_to "Show this campaign", campaign
