= content_for :sidebar do
  = render 'layouts/vertical_progress', 
    steps: {"Sign Up" => {status: "current", info: "Basic information about you", last: 'no'} ,
    "Organization Info" => {status: "incomplete", info: "A few facts about your group", last: 'no'},
    "Fundraiser Info" => {status: "incomplete", info: "How much, why, and when you are fundraising", last: 'no'},
    "Member Info" => {status: "incomplete", info: "Who is going to help raise money", last: 'yes'}}
.flex.min-h-full.w-full.flex-col.justify-center.py-10.sm:py-3.sm:px-6.lg:px-8.bg-white
  .sm:mx-auto.sm:w-full.sm:max-w-md
    = image_tag('logos/favicon.png', alt: 'YouthRaise logo', class: 'mx-auto h-10 w-auto')
    %h2.mt-4.text-center.text-2xl.font-bold.tracking-tight.text-gray-900 Sign Up
    %p.mt-2.text-center.text-sm.text-gray-800
      Already a member?
      = link_to "Log in", new_login_path, class: "text-indigo-900"
  .mt-5.sm:mx-auto.w-full.sm:w-full.sm:max-w-md.p-8.sm:p-1
    = form_for @user, url: organizer_signups_path do |f|
      %div
        = f.text_field :first_name, required: true, :placeholder => "First Name", autofocus: true
      .pt-4
        = f.text_field :last_name, required: true, :placeholder => "Last Name"
      .pt-4
        - if @email_signup
          = f.email_field :email, required: true, :placeholder => "Email"  
          = link_to "Sign up with your phone instead", new_organizer_signup_path, class: "text-sm text-indigo-900"
        - else
          = f.phone_field :mobile, required: true
          = link_to "Sign up with your email instead", new_organizer_signup_path(email_signup: 'y'), class: "text-sm text-indigo-900"
      .pt-8
        = f.submit "Continue", class: "w-full"