%nav.px-10.pt-4{"aria-label" => "Progress"}
  %ol.overflow-hidden{:role => "list"}
    - steps.each do |k,v|
      -if v[:status] == 'complete'
        %li.relative.pb-10
          - unless v[:last] == 'yes'
            .absolute.top-4.left-4.-ml-px.h-full.bg-indigo-600{"aria-hidden" => "true", :class => "mt-0.5 w-0.5"}
          / Complete Step
          %a.group.relative.flex.items-start{:href => "#"}
            %span.flex.h-9.items-center
              %span.relative.z-10.flex.h-8.w-8.items-center.justify-center.rounded-full.bg-indigo-600.group-hover:bg-indigo-800
                %svg.h-5.w-5.text-white{"aria-hidden" => "true", :fill => "currentColor", :viewbox => "0 0 20 20"}
                  %path{"clip-rule" => "evenodd", :d => "M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z", "fill-rule" => "evenodd"}
            %span.ml-4.flex.min-w-0.flex-col
              %span.text-sm.font-medium.text-indigo-400= k
              %span.text-sm.text-gray-300= v[:info]
      - elsif v[:status] == 'current'
        %li.relative.pb-10
          - unless v[:last] == 'yes'
            .absolute.top-4.left-4.-ml-px.h-full.bg-gray-300{"aria-hidden" => "true", :class => "mt-0.5 w-0.5"}
          / Current Step
          %a.group.relative.flex.items-start{"aria-current" => "step", :href => "#"}
            %span.flex.h-9.items-center{"aria-hidden" => "true"}
              %span.relative.z-10.flex.h-8.w-8.items-center.justify-center.rounded-full.border-2.border-indigo-600.bg-white
                %span.rounded-full.bg-indigo-600{:class => "h-2.5 w-2.5"}
            %span.ml-4.flex.min-w-0.flex-col
              %span.text-sm.font-medium.text-indigo-300= k
              %span.text-sm.text-gray-300= v[:info]
      - else
        %li.relative.pb-10
          - unless v[:last] == 'yes'
            .absolute.top-4.left-4.-ml-px.h-full.bg-gray-300{"aria-hidden" => "true", :class => "mt-0.5 w-0.5"}
          / Upcoming Step
          %a.group.relative.flex.items-start{:href => "#"}
            %span.flex.h-9.items-center{"aria-hidden" => "true"}
              %span.relative.z-10.flex.h-8.w-8.items-center.justify-center.rounded-full.border-2.border-gray-300.bg-white.group-hover:border-gray-400
                %span.rounded-full.bg-transparent.group-hover:bg-gray-300{:class => "h-2.5 w-2.5"}
            %span.ml-4.flex.min-w-0.flex-col
              %span.text-sm.font-medium.text-gray-500= k
              %span.text-sm.text-gray-500= v[:info]
      